<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>高校教学平台</title>

		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="56x56" href="../static/images/fav-icon/icon.png">


		<!-- Main style sheet -->
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<!-- responsive style sheet -->
		<link rel="stylesheet" type="text/css" href="../static/css/responsive.css">


		<!-- Fix Internet Explorer ______________________________________-->

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="../static/vendor/html5shiv.js"></script>
			<script src="../static/vendor/respond.js"></script>
		<![endif]-->

			
	</head>

	<body>
		<div class="main-page-wrapper">

			<!-- ===================================================
				Loading Transition
			==================================================== -->
			<div id="loader-wrapper">
				<div id="loader"></div>
			</div>



			<!-- 
			=============================================
				Theme Header
			============================================== 
			-->

			<!-- 
			=============================================
				Theme Inner Banner
			============================================== 
			-->
			<div class="inner-banner">
				<div class="opacity">
					<div class="container">
						<h2>User Profile</h2>
						<ul>
							<li><a href="{{url_for('user_info')}}" class="tran3s">返回</a></li>
						</ul>
					</div> <!-- /.container -->
				</div> <!-- /.opacity -->
			</div> <!-- /.inner-banner -->


			<!-- Sign-Up Modal -->
			<div class="signUpModal theme-modal-box">
				<div class="modal-dialog">
					{% include 'user/alert-info.html' %}
				    <!-- Modal content-->
				    <div class="modal-content">
					    <div class="modal-body">
							<h3>修改密码</h3>
					        <form method="post" >
					        	<div class="wrapper">
					        		<input type="password" name="oldpassword" id="oldpwd" placeholder="OldPassword" required minlength="8"  maxlength="20">
									<label for="oldpwd" style="float:right">请输入旧密码</label>
									<input type="password" name="newpassword" id="newpwd" placeholder="NewPassword" required maxlength="20">
									<label for="newpwd" style="float:right">请输入新密码</label>
					        		<input type="password" name="repeatpassword" id="repeatpwd" placeholder="Repeat Password" required maxlength="20">
									<label for="repeatpwd" style="float:right">重复输入密码</label>
									<button type="submit" name="btn" class="p-bg-color hvr-trim">Submit</button>
					        	</div>
					        </form>
					    </div> <!-- /.modal-body -->
				    </div> <!-- /.modal-content -->
				</div> <!-- /.modal-dialog -->
			</div> <!-- /.signUpModal -->



			<!-- 
			=============================================
				Footer
			============================================== 
			-->





		<!-- Js File_________________________________ -->

		<!-- j Query -->
		<script type="text/javascript" src="../static/vendor/jquery.2.2.3.min.js"></script>
		<!-- Bootstrap Select JS -->
		<script type="text/javascript" src="../static/vendor/bootstrap-select/dist/js/bootstrap-select.js"></script>

		<!-- Bootstrap JS -->
		<script type="text/javascript" src="../static/vendor/bootstrap/bootstrap.min.js"></script>

		<!-- Vendor js _________ -->
		<!-- Camera Slider -->
		<script type='text/javascript' src='../static/vendor/Camera-master/scripts/jquery.mobile.customized.min.js'></script>
	    <script type='text/javascript' src='../static/vendor/Camera-master/scripts/jquery.easing.1.3.js'></script>
	    <script type='text/javascript' src='../static/vendor/Camera-master/scripts/camera.min.js'></script>
	    <!-- Mega menu  -->
		<script type="text/javascript" src="../static/vendor/bootstrap-mega-menu/js/menu.js"></script>
		
		<!-- WOW js -->
		<script type="text/javascript" src="../static/vendor/WOW-master/dist/wow.min.js"></script>
		<!-- owl.carousel -->
		<script type="text/javascript" src="../static/vendor/owl-carousel/owl.carousel.min.js"></script>
		<!-- js count to -->
		<script type="text/javascript" src="../static/vendor/Counter/jquery.counterup.min.js"></script>
		<script src="../static/vendor/Counter/jquery.waypoints.min.js"></script>

		<!-- Theme js -->
		<script type="text/javascript" src="../static/js/theme.js"></script>


		</div> <!-- /.main-page-wrapper -->
	</body>

</html>

